<figcaption>
    <img src="images/selected.png" /> Selected stop
    <br />
    <img src="images/line.png" /> Possible stops from selected
</figcaption>
<table>
    <thead>
        <tr>
            <td>Route</td>
            <td>To</td>
            <td>Estimated wait time</td>
        </tr>
    </thead>
    <tbody>
        <!-- Arrivals -->
    </tbody>
</table>