<table>
    <thead>
        <tr>
            <td>Route</td>
            <td>To</td>
            <td>Estimated wait time</td>
        </tr>
    </thead>
    <tbody>
        <!-- Arrivals -->
    </tbody>
</table>